{% extends '_base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock styles %}

{% block content %}
<div class="password-container">
<h1 class="forgot-pw-heading">Alege o noua parola</h1>
<form method="post" class="text-center">
    {% csrf_token %}

    <p class="pw-label">{{form.new_password1.label}}</p>
    <p class="pw-input">{{form.new_password1}}</p>

    <p class="pw-label">{{form.new_password2.label}}</p>
    <p class="pw-input">{{form.new_password2}}</p>
    <input class="auth-btn" type="submit" value="Actualizeaza parola" />
</form>
</div>
{% endblock content %}
