{% extends '_base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock styles %}

{% block content %}
<div class="password-container">


<h3 class="forgot-pw-heading">Ai uitat parola?</h3>
<p class="forgot-pw-subheading"> Introdu adresa ta de email și îți vom trimite un link pentru resetarea parolei.</p>

<form class="forgot-pw-form" method="post">
    {% csrf_token %}
    <input type="email" name="email" autocomplete="off" placeholder="Email" maxlength="254" required="" id="id_email">
    <input id="forgot-pw-btn" type="submit" value="Trimite email" />
</form>
</div>
{% endblock content %}
