{% extends '_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/t_and_c.css' %}">
{% endblock styles %}

{% block content %}

<main class="politica-main">

    <p>iFacultate folosește cookie-uri pentru a vă oferi o experiență mai bună de utilizare a site-ului web.</p>
    <p class="subhead">Ce sunt cookie-urile?</p>
    <p>Cookie-urile sunt fișiere text mici care sunt stocate pe computerul sau dispozitivul mobil atunci când vizitați un site web. Ele sunt folosite pentru a stoca informații despre vizita dumneavoastră, cum ar fi preferințele dumneavoastră sau comportamentul dumneavoastră online.</p>
    <p class="subhead">Cum utilizează iFacultate cookie-urile?</p>
    <p>iFacultate utilizează cookie-uri pentru următoarele scopuri:</p>

    <ul>
        <li>Pentru a vă oferi o experiență mai bună de utilizare a site-ului web: Cookie-urile ne ajută să ne amintim preferințele dumneavoastră, cum ar fi limba sau moneda în care doriți să vizualizați site-ul web. De asemenea, cookie-urile ne ajută să măsurăm traficul pe site-ul web și să ne asigurăm că acesta funcționează corect.</li>
        <li> Pentru a vă oferi reclame relevante: iFacultate poate utiliza cookie-uri pentru a vă oferi reclame relevante pentru interesele dumneavoastră.</li>
    </ul>


    <p class="subhead">Tipuri de cookie-uri utilizate de iFacultate</p>
    <p>iFacultate utilizează următoarele tipuri de cookie-uri:</p>

    <ul>
        <li>Cookie-uri strict necesare: Aceste cookie-uri sunt esențiale pentru funcționarea site-ului web. Ele vă permit să navigați pe site-ul web și să utilizați funcțiile acestuia.</li>
        <li> Cookie-uri de performanță: Aceste cookie-uri colectează informații despre modul în care utilizați site-ul web, cum ar fi paginile pe care le vizitați și linkurile pe care dați click. Aceste informații sunt utilizate pentru a îmbunătăți experiența dumneavoastră de utilizare a site-ului web.</li>
        <li>Cookie-uri de funcționalitate: Aceste cookie-uri vă permit să utilizați caracteristicile site-ului web, cum ar fi butoanele de share sau comentariile.</li>
        <li>Cookie-uri de direcționare: Aceste cookie-uri sunt utilizate pentru a vă oferi reclame relevante pentru interesele dumneavoastră.</li>
    </ul>


    <p class="subhead">Cum puteți controla cookie-urile?</p>
    <p>Puteți controla cookie-urile prin setările browserului dumneavoastră. Majoritatea browserelor vă permit să acceptați, să refuzați sau să ștergeți cookie-urile.</p>
    <p>
        Pentru mai multe informații despre cookie-uri, vă rugăm să vizitați site-ul web al Autoritatea Națională de Supraveghere a Prelucrării Datelor cu Caracter Personal. <a href="https://www.dataprotection.ro">https://www.dataprotection.ro/</a></p>

</main>

{% endblock content %}
