{% extends "_base.html"%}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/t_and_c.css' %}">
{% endblock styles %}

{% block content %}

<main class="politica-main">
    <p>iFacultate respectă confidențialitatea utilizatorilor săi. Acest document explică modul în care iFacultate colectează, utilizează și împărtășește informațiile dumneavoastră cu caracter personal.</p>
    <p class="subhead">Ce informații colectăm?</p>
    <p>iFacultate colectează următoarele informații cu caracter personal de la utilizatori:</p>
    <ul>
        <li>Informații de bază: numele, adresa de e-mail</li>
    </ul>
    <p class="subhead">Cum utilizăm informațiile dumneavoastră cu caracter personal?
    </p>
    <p>iFacultate utilizează informațiile dumneavoastră cu caracter personal în următoarele scopuri:</p>
    <ul>
        <li>Pentru a vă oferi serviciile iFacultate: iFacultate utilizează informațiile dumneavoastră cu caracter personal pentru a vă crea un cont și pentru a vă oferi acces la serviciile iFacultate.</li>
        <li>Pentru a vă îmbunătăți experiența de utilizare: iFacultate utilizează informațiile dumneavoastră cu caracter personal pentru a vă personaliza experiența de utilizare a site-ului web.</li>
        <li>Pentru a vă trimite comunicări comerciale: iFacultate vă poate trimite comunicări comerciale, cum ar fi e-mailuri promoționale, numai dacă v-ați dat consimțământul pentru acest lucru.</li>
    </ul>
    <p class="subhead">Cu cine împărtășim informațiile dumneavoastră cu caracter personal?</p>
    <p>iFacultate poate împărtăși informațiile dumneavoastră cu caracter personal cu următoarele terțe părți:</p>
    <ul>
        <li>Parteneri de marketing: iFacultate poate împărtăși informațiile dumneavoastră cu caracter personal cu partenerii săi de marketing pentru a vă oferi comunicări comerciale.</li>
        <li>Furnizori de servicii: iFacultate poate împărtăși informațiile dumneavoastră cu caracter personal cu furnizorii săi de servicii pentru a vă furniza serviciile iFacultate.</li>
    </ul>
    <p class="subhead">Cum puteți controla informațiile dumneavoastră cu caracter personal?
    </p>
    <p>Aveți dreptul să accesați, să corectați, să ștergeți sau să vă opuneți prelucrării informațiilor dumneavoastră cu caracter personal. De asemenea, aveți dreptul să vă retrageți consimțământul pentru primirea comunicărilor comerciale.</p>
    <p>Pentru a vă exercita drepturile, vă rugăm să ne contactați la adresa de e-mail contact@ifacultate.ro</p>
    <p>Siguranța informațiilor dumneavoastră cu caracter personal</p>
    <p>iFacultate se angajează să protejeze informațiile dumneavoastră cu caracter personal. iFacultate utilizează măsuri tehnice și organizatorice de securitate pentru a proteja informațiile dumneavoastră cu caracter personal de accesul neautorizat, utilizarea neautorizată, divulgarea, modificarea sau distrugerea.</p>
    <p>Actualizări ale politicii de confidențialitate</p>
    <p>iFacultate poate actualiza această politică de confidențialitate din când în când. Atunci când vom actualiza această politică de confidențialitate, vă vom notifica prin e-mail sau prin intermediul site-ului web.
    </p>
    <p>Contact</p>
    <p>Pentru întrebări sau solicitări legate de această politică de confidențialitate, vă rugăm să ne contactați la adresa de e-mail contact@ifacultate.ro</p>

</main>

{% endblock content %}
