{% extends '_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/t_and_c.css' %}">
{% endblock styles %}

{% block content %}

<main class="politica-main">
    <p class="politica-subhead">Introducere</p>
    <p>Acești Termeni și condiții stabilesc termenii și condițiile de utilizare a site-ului web www.ifacultate.ro (denumit în continuare „iFacultate”). Prin accesarea sau utilizarea iFacultate, acceptați acești Termeni și condiții.</p>
    <p class="politica-subhead">Definiții</p>
    <ul>
        <li>„iFacultate” înseamnă site-ul web www.ifacultate.ro
        </li>
        <li>„Utilizator” înseamnă orice persoană care accesează sau utilizează iFacultate.</li>
    </ul>
    <p class="politica-subhead">Domeniu de aplicare</p>
    <p>Acești Termeni și condiții se aplică tuturor utilizatorilor iFacultate, indiferent de locația lor.</p>
    <p>Drepturile și obligațiile utilizatorilor
    </p>
    <ul>
        <li>Utilizatorii au dreptul de a utiliza iFacultate în conformitate cu acești Termeni și condiții.</li>
        <li>Utilizatorii au obligația de a respecta drepturile de autor și alte drepturi de proprietate intelectuală ale iFacultate și ale oricăror terți.</li>
        <li>Utilizatorii au obligația de a nu utiliza iFacultate în scopuri ilegale sau care ar putea prejudicia iFacultate sau terți.
        </li>
    </ul>
    <p class="politica-subhead">Drepturile și obligațiile iFacultate</p>
    <ul>
        <li>iFacultate are dreptul de a modifica sau de a elimina conținutul iFacultate în orice moment.</li>
        <li>iFacultate are dreptul de a suspenda sau de a înceta furnizarea serviciilor iFacultate în orice moment.</li>
        <li>iFacultate are dreptul de a urmări orice utilizare ilegală a iFacultate.</li>
    </ul>
    <p>
        Drepturile și obligațiile companiei care operează iFacultate
    </p>
    <ul>
        <li>Compania care operează iFacultate are dreptul de a colecta și de a utiliza date cu caracter personal ale utilizatorilor în conformitate cu Politica de confidențialitate.</li>
        <li>Compania care operează iFacultate are dreptul de a trimite comunicări comerciale utilizatorilor.</li>
    </ul>
    <p class="politica-subhead">Politica de confidențialitate</p>
    <p>iFacultate respectă confidențialitatea utilizatorilor. Pentru mai multe informații, consultați Politica de confidențialitate.</p>
    <p class="politica-subhead">Politica de cookies</p>
    <p>iFacultate utilizează cookie-uri pentru a furniza servicii și pentru a îmbunătăți experiența utilizatorilor. Pentru mai multe informații, consultați Politica de cookies.</p>
    <p class="politica-subhead">Dispoziții finale</p>
    <ul>
        <li>Acești Termeni și condiții sunt guvernați de legea română.</li>
        <li>În cazul unui litigiu, părțile se vor strădui să găsească o soluție amiabilă. În cazul în care nu este posibilă o soluție amiabilă, litigiul va fi soluționat de instanțele judecătorești competente din România.</li>
    </ul>


</main>

{% endblock content %}
